<h2 class="text-center my-3">LIFE EXTINCT OF THE SEA ANIMALS</h2>
	<div class="text-center">DEATH GREATER THAN 1 MILLION(10 LAKHS) PER YEAR</div>

    <div class="container mt-3">
        <div class="row">
          <div class="col-8 bg-success">FISHES:60%</div>
          <div class="col-4 bg-warning">LD Ratio:6:4</div>
        </div>

        <br>

        <div class="row">
            <div class="col-3 bg-success">SHARKS:40%</div>
            <div class="col-9 bg-warning">LD Ratio:7:3</div>
          </div>
         
          <br>
        
          <div class="row">
              <div class="col-7 bg-success">DOLPHINS=65%</div>
              <div class="col-5 bg-warning">LD Ratio:7:3</div>
            </div>
          
            <br>
        
            <div class="row">
                <div class="col-3 bg-success">REPTILES=23%</div>
                <div class="col-9 bg-warning">LD Ratio:5:5</div>
              </div>
    </div>
        
      
      