<br>
<br>
<h2 style="text-align:center;"  ><span style="color: red">DOLPHINS</span></h2>
<div style="text-align: center;">
<img src="https://images2.minutemediacdn.com/image/upload/c_crop,h_1778,w_3155,x_0,y_843/v1554928552/shape/mentalfloss/540093-istock-514343279.jpg?itok=isS-TJcM" alt="https://en.wikipedia.org/wiki/Sea_lion" style="width:250px">
</div>    
<p style="text-align:center">Dolphin is the common name of aquatic mammals within 
  the infraorder Cetacea. The term dolphin usually refers to the extant families Delphinidae 
  (the oceanic dolphins), Platanistidae (the Indian river dolphins), named Iniidae (the New 
    World river dolphins), and Pontoporiidae (the brackish dolphins), and the extinct Lipotidae 
    (baiji or Chinese river dolphin). There are 40 extant species named as dolphins.
   Dolphins can range in size from the relatively small 1.7-metre-long (5 ft 7 in) long 
   and 50-kilogram (110-pound) bodied Maui's dolphin to the 9.5 m (31 ft 2 in) and 10-tonne 
   (11-short-ton) killer whale. Several species exhibit sexual dimorphism, in that the males
    are larger than females. They have streamlined bodies and two limbs that are modified into
     flippers. Though not quite as flexible as seals, some dolphins can travel at speeds 29 km/h
      (18 mph) for short distances. Dolphins use their conical shaped teeth to capture fast moving 
      prey. They have well-developed hearing which is adapted for both air and water and is so well
       developed that some can survive even if they are blind. Some species are well adapted for diving 
       to great depths. They have a layer of fat, or blubber, under the skin to keep warm in the cold 
       water.</p>
       