
<br>
<br>
<div class="container">

    <div class="col-md-6 offset-md mt-4">
    <h3>Register </h3>
        <form>
            <form>
                <div class="form-group">
                  <label for="registerusername">Username</label>
                  <input type="text" 
                  class="form-control" 
                  id="registerusername" 
                 placeholder="Enter Username">
                </div>
                <div class="form-group">
                  <label for="registerEmail">Email</label>
                  <input type="email" 
                  class="form-control" 
                  id="registerEmail" 
                  placeholder="Enter Email">
                </div>
                <div class="form-group">
                    <label for="register-Password">Password</label>
                    <input type="text" 
                    class="form-control" 
                    id="register-Password" 
                   placeholder="Password">
                  </div>
                <a class="nav-link active" aria-current="page" routerLink="/login" routerLinkActive="active">
                <button type="submit" 
                class="btn btn-primary">Register <i class="fas fa-sign-in-alt"></i></button>
                </a>
              </form>
        </form>
     
    </div>
      
    
    </div>
    