<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://en.wikipedia.org/wiki/Marine_World">Marine World System</a>
      <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="offcanvas" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="active">Home Page</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/login" routerLinkActive="active">Login</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/reset-password" routerLinkActive="active">Reset Password</a>
          </li>
       
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/register" routerLinkActive="active">Register</a>
          </li>

          <li ngbDropdown class="nav-item dropdown ">
            <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Species/Search</a>
            <ul ngbDropdownMenu class="dropdown-menu " aria-labelledby="dropdown01">
              
              <li><a class="dropdown-item " href="https://www.marinebio.org/search/?pg=1&ob=title">Birds</a></li>
              <li><a class="dropdown-item" routerLink="/fishes" routerLinkActive="active">Fishes</a></li>
              <li><a class="dropdown-item" href="https://www.marinebio.org/search/?pg=1&ob=title">Reptiles</a></li>
              <li><a class="dropdown-item" href="https://www.marinebio.org/search/?pg=1&ob=title">Sea Lions</a></li>
              <li><a class="dropdown-item" href="https://www.marinebio.org/search/?pg=1&ob=title">Seals</a></li>
              <li><a class="dropdown-item" routerLink="/sharks" routerLinkActive="active">Sharks</a></li>
              <li><a class="dropdown-item" routerLink="/dolphine" routerLinkActive="active">Dolphins</a></li>
              <li><a class="dropdown-item" routerLink="/pagenotfound" routerLinkActive="active">Photo-Galleries</a></li>
            </ul>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
 
 
  
    