<br>
<h1 style="text-align:center;"  ><span style="color: powderblue">MARINE WORLD</span></h1>
<nav-drop></nav-drop>
<br>
<br>
<h3 style="text-align:center;"  ><span style="color: rgb(51, 255, 0)">SEA LIFE SOCIETY</span></h3>
<p  style="background-color:powderblue;">We invite you to explore the depths of MarineBio and find out about marine species, ocean conservation, research,
and 101+ Ways to Make a Difference Today. Make your voice heard by contacting us or participating in any of our social
networking sites: Instagram, Facebook, Twitter, Pinterest, etc. Together our efforts are making the difference needed so
that our ocean’s many wonderful species (including us) will be able to thrive and survive.MarineBio is an ever-evolving 
tribute to all ocean life that has been a central source online for the latest information concerning marine life and its 
biology, and especially its conservation, since 1998..</p>