
<br>
<br>
<div class="row">

    <div class="col-md-6 offset-md mt-4">
    <h3>Reset Password </h3>
        <form>
            <form>
                <div class="form-group">
                  <label for="resetpassword email">Account Password</label>
                  <input type="email" 
                  class="form-control" 
                  id="resetpassword email" 
                 placeholder="Enter Email">
                </div>
                <a class="nav-link active" aria-current="page" routerLink="/login" routerLinkActive="active">
                <button type="submit" 
                class="btn btn-primary">Reset Password <i class="fas fa-paper-plane"></i></button>
                </a>
              </form>
        </form>
     </div>
        
    </div>
    