<div class="navBAR">
    <ul>
        <li><a href="https://en.wikipedia.org/wiki/Seabird"> SEA BIRDS </a> 
            <ul>
                <li><a href="https://en.wikipedia.org/wiki/Caspian_tern">CASPIAN TERN</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Heermann%27s_gull">HEERMANN'S GULL</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Great_blue_heron">GREAT BLUE HERON</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Great_white_pelican">GREAT WHITE PELICAN</a></li>
            </ul>
    </ul>
    
    <ul>
        <li><a href="https://en.wikipedia.org/wiki/Fishes"> SEA FISHES </a> 
            <ul>
                <li><a href="https://en.wikipedia.org/wiki/Salmon">SALMON</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Cod">COD</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Herring">HERRING</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Rainbow_trout">RAINBOW TROUT</a></li>
            </ul>
    </ul>
    
    <ul>
        <li><a href="https://en.wikipedia.org/wiki/Reptile"> SEA REPTILES </a> 
            <ul>
                <li><a href="https://en.wikipedia.org/wiki/Sea_turtle">SEA TURTLES</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Crocodile">CROCODILES</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Dinosaur">DINOSAURS</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Snake">SNAKES</a></li>
            </ul>
    </ul>
    
    <ul>
        <li><a href="https://en.wikipedia.org/wiki/Sea_lion"> SEA LIONS </a> 
            <ul>
                <li><a href="https://en.wikipedia.org/wiki/Sea_lion">PACIFIC POINT PRESERVE</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Sea_lion">SEA COVE LION</a></li>
            </ul>
    </ul>
    
    <ul>
        <li><a href="https://en.wikipedia.org/wiki/Shark"> SEA SHARKS </a> 
            <ul>
                <li><a href="https://en.wikipedia.org/wiki/Hammerhead_shark">GREAT WHITE SHARK</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Whale_shark">WHALE SHARK</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Hammerhead_shark">HAMMERHEAD SHARK</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Tiger_shark">TIGER SHARK</a></li>
            </ul>
    </ul>

</div>
