<br>
<br>

<h2 style="text-align:center;"  ><span style="color: violet">SHARKS</span></h2>
<div style="text-align: center;">
  <img src="https://ychef.files.bbci.co.uk/624x351/p02knfvp.jpg" alt="https://en.wikipedia.org/wiki/Sea_lion" style="width:250px">
</div>
  <p style="text-align:center">Sharks are a group of elasmobranch fish characterized by a cartilaginous
   skeleton, five to seven gill slits on the sides of the head, and pectoral fins that are not fused to 
   the head. Modern sharks are classified within the clade Selachimorpha (or Selachii) and are the sister
    group to the rays. However, the term "shark" has also been used for extinct members of the subclass 
    Elasmobranchii outside the Selachimorpha, such as Cladoselache and Xenacanthus, as well as other
     Chondrichthyes such as the holocephalid eugenedontidans.</p>