<br>
<br>
<h2 style="text-align:center;"  ><span style="color: green">FISHES</span></h2>
<div style="text-align: center;">
  <img src="https://images.unsplash.com/photo-1535591273668-578e31182c4f?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjM2NTI5fQ" alt="https://en.wikipedia.org/wiki/Sea_lion" style="width:250px">
</div>
  <p style="text-align:center">Fish are aquatic, craniate, gill-bearing animals that lack limbs 
  with digits. They form a sister group to the tunicates, together forming the olfactores. Included
   in this definition are the living hagfish, lampreys, and cartilaginous and bony fish as well as 
   various extinct related groups. Around 99% of living fish species are ray-finned fish, belonging
    to the class Actinopterygii, with over 95% belonging to the teleost subgrouping.
  The earliest organisms that can be classified as fish were soft-bodied chordates that first 
  appeared during the Cambrian period. Although they lacked a true spine, they possessed notochords 
  which allowed them to be more agile than their invertebrate counterparts. Fish would continue to
   evolve through the Paleozoic era, diversifying into a wide variety of forms. Many fish of the
    Paleozoic developed external armor that protected them from predators. The first fish with jaws 
    appeared in the Silurian period, after which many (such as sharks) became formidable marine predators
     rather than just the prey of arthropods.</p>